.title, [class*="title--"]{
  color: #FFF;
  background: linear-gradient(var(--first-color), var(--first-dark-3));
}
.title--second   {  }
.title--tertiary {  }
.title--dark     {  }
.title--accent   {  }