- var currentPage = 'Inicio'
- var siteName = 'REDAXO mit Bimmelbam 2'
- var slogan = ''
- var description = ''

//-Site Version
- var siteVersion = '1.0.0'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/demo/'