header.main-header
  .rex-container.full
    .rex-item.s-80.l-25.cross-center
      a(href= path_page + "")
        img(src= path_media + 'svg/FOR-banner-rgb.svg').main-logo
    .rex-item.s-20.l-75.cross-center.main-end.header-links
      nav.main-menu#main-menu
        ul
          li: a(href= path_page) DemoPage
          li: a(href="#" target="_blank") Github
          li: a(href="http://www.redaxo.org/slack/" target="_blank") Slack Redaxo
          li: a(href="http://ed-grid.com/" target="_blank") EDgrid
      .main-menu-toggle.to-l#main-menu-toggle
